
<div class="container" id="container">
  <div class="overlay-container">


		<div class="overlay">
      <div>
        <img src="https://i.ibb.co/hFswCLr/Group-1.png" alt="">
        <h2>XERO BANK LOANS</h2>
        <p> the most trusted loan provider </p>
      </div>
		</div>


	</div>

	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Lets Start</h1>
			<input type="text" placeholder="First Name" />
      <input type="text" placeholder="Last Name" />
      <input type="number" placeholder="Age" />
			<button>Next</button>
		</form>
	</div>

</div>

